<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/stylesheets/dashboardHeader.css">
    <style>
        * {
            padding: 0;
            margin: 0;
            box-sizing: border-box;
        }

        .content-div {
            padding: 10px 0px 0px 10px;
            height: 100%;
            width: 100%;
            display: grid;
            grid-template-columns: 25% 25% 25% 25%;
            grid-row-gap: 15px;
        }
        .request-item{
            height: 450px;
            margin: 10px;
            border-radius: 10px;
            border: none;
        }
        .profile-image{
            height: 60%;
            width: 100%;
            border: none;
            border-radius: 15px 15px 0px 0px;

        }
        .name, .buisness-name, .city, .pincode{
            height: 10%;
            width: 100%;
            padding: 5px;
            font-size: 17px;
            font-weight: bold;
        }
        
    </style>
</head>

<body>
    <%- include('components/header') %>
    <div class="content-div" id="content-div">
        <% if (seller_requests.length>0) { %>
            <% seller_requests.forEach(req => { %>
                <div class="request-item" onclick="showSellerDetails('<%= req.seller_id %>')">
                    <img class="profile-image" src="/uploads/profileImages/<%= req.profileImage %>"/>
                    <div class="name">Name: <%= req.fName%> <%= req.lName %></div>
                    <div class="buisness-name">Buisness: <%= req.buisnessName %></div>
                    <div class="city">City: <%= req.city %></div>
                    <div class="pincode">Pincode: <%= req.pincode %></div>
                </div>
            <% }) %>
        <% } %>
    </div>
    <% if(seller_requests.length<=0) { %>
        <h1>Ooops no new requests has arrived yet !</h1>
    <% } %>
</body>
<script>
    function showSellerDetails(id){
        location.href = `requests/${id}`
    }
</script>
</html>