<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="\stylesheets\dashboardHeader.css">
    <style>
        *{
            box-sizing: border-box;
        }
        .container{
            padding-top: 10px;
            display: flex;
            flex-direction: column;
            /* justify-content: center; */
            align-items: center;
        }
        .orderItem{
            width: 80%;
            height: 200px;
            border-radius: 10px;
            display: flex;
            justify-content: flex-start;
            box-shadow: 1px 1px 4px grey;
            margin: 10px;
        }
        .p_image{
            border-radius: 10px 0px 0px 10px;
            width: 20%;
        }
        .order_details{
            height: 100%;
            width: 50%;
            display: flex;
            flex-direction: column;
            padding: 10px;
            align-items: center;
        }
        .shipping_address{
            width: 100%;
            height: 20%;
        }
        .payment_status, .bill, .quantity, .product_id{
            padding: 2px;
            height: 20%;
            width: 100%;
        }
        .actions{
            height: 100%;
            width: 30%;
            border-radius: 0px 10px 10px 0px;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            align-items: center;
            padding: 5px;
        }
        .order_id{
            width: 100%;
            word-wrap: break-word;
            padding: 10px;
        }
        .action_btn{
            align-self: flex-end;
            background-color: green;
            color: white;
            font-size: 17px;
            font-weight: bold;
            padding: 10px 15px;
            border: none;
            border-radius: 10px;
            margin-bottom: 20px;
            margin-right: 30px;
        }
    </style>
</head>
<body>
    <%- include('components/header') %>
    <div class="container">
        <% if(orders){ %>
            <% orders.forEach(element => { %>
                <div class="orderItem" id="orderItem-<%= element.order_id %>">
                    <img src="<%= !element.image.includes(".")?"/"+element.image:element.image %>" alt="" class="p_image">
                    <div class="order_details">
                        <div class="product_id">Product Name: <%= element.name %></div>
                        <div class="shipping_address">Shipping Address: <%= element.shipping_address %></div>
                        <div class="payment_status">Payment mode: <%= element.payment_mode %></div>
                        <div class="bill">Total Bill: <%= element.bill %> $</div>
                        <div class="quantity">Quantity: <%= element.order_quantity %></div>
                        <div class="quantity">Payment status: <%= element.payment_status %></div>
                    </div>
                    <div class="actions">
                        <div class="order_id">
                            <p>OrderId:</p>
                            <p> <%= element.order_id %></p>
                        </div>
                        <div class="order_id">
                            <h4>Dispatch to:</h4>
                            <select name="dispatch_to" id="dispatch_to"></select>
                        </div>
                        <button class="action_btn" onclick="dispatchOrder('<%= element.order_id %>')">Dispatch</button>
                    </div>
                </div>
            <% }) %>
        <% } else { %>
            <h1>No orders have been accepted yet!</h1>
        <% } %>
    </div>
</body>
<script>

    function dispatchOrder(id){
        fetch("/seller/shipTo/"+id,{method:"PATCH"})
        .then((result) => {
            if(result.ok){
                alert("Order dispatched successfully");
                document.getElementById("orderItem-"+id).remove();
            } else {
                alert("Something went wrong !");
            }
        }).catch((err) => {
            alert(err);
        });
    }

    fetch("/seller/shipTo/all")
    .then((result) => {
        return result.json();
    })
    .then(res=>{
        const op_menu = document.getElementById("dispatch_to");
        res.forEach(e => {
            const op = document.createElement("option");
            op.value = e.shipper_id
            op.innerText = e.center
            op_menu.appendChild(op);
        });
    })
    .catch((err) => {
        console.log(err);
        alert(err)
    });

    // function dispatchOrder(id){
    //     console.log(id);
    // }
</script>
</html>